// Forgettable - Another chat.
// @author {@link https://github.com/jmg1138 jmg1138}

doctype html
html.m-0.p-0
  head
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
    title='💬 Forgettable'
    link(href='stylesheets/styles.css', rel='stylesheet')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
  body.m-0.p-0#body
    .m-0.p-0#containedSignIn
      .m-0.p-0#aboveSignIn
      .m-0.p-0#signIn
        form.m-0.p-1#set-nickname
          input.form-control#nick(
            placeholder='nickname',
            autocomplete='on',
            maxlength='35'
          )
          small.form-text.text-primary
            |Type your nickname here and press enter.
          b.text-danger#nickname-err
            |Nickname already used, try another.
    .m-0.p-0#containedChat
      .m-0.p-0#history
      .m-0.p-0#compose
        form.m-0.p-1#send-message
          input.form-control#message(
            placeholder='message …',
            autocomplete='off',
            maxlength='141'
          )
          small.form-text.text-primary
            |Type your message here and press enter.
  noscript.noscript
    h1.m-0.p-5#jswarning
      |JavaScript must be enabled.
  script(src='/jquery.js')
  script(src='/bootstrap.js')
  script(src='/socket.io/socket.io.js')
  script(src='/index.js')
